 body{
  background:url("q.png");
  }
	.platform{
             width:280px;
             height:450px;
        
    margin-top: 25px;
    margin-bottom: 25px;

             background:#303f97;
             
             border-radius:10px;
             margin-top:0px;
	         }
	
	       h1{
	         color:yellow;
	         font-size:40px;
	         text-align:center;
	         margin-bottom: 0px;
             margin-top: 0px;
		     }
			 h1:hover{
			 	 transform:rotateY(360deg);
				 transition-duration:4s;
				 }

	  .zakaz{
             color:yellow;
             font-size:16px;
             margin-left: 95px;
             margin-right: px;
	         font-family: 'Play', sans-serif;
			 }
	 
	   .form{
            float:right;
	        margin:60px;
	        height: 250px;
            margin-top: 10px;
            margin-bottom: 10px;
            width: 200px;
            margin-left: 50px;
            margin-right: 50px;
            }

	  .last_name{
	        width:180px;
	        height:20px;
	        margin-bottom:15px;
	        border-bottom: 1px solid yellow;
	        background:#003366;
	        border-top:0px;
	        border-left:0px;
	        border-right:0px;
	        color:yellow;
	        background:url("");
	        padding-left:5px;
		    font-family: 'Play', sans-serif;
		    font-size:12px;
	        }

	.E-mail,.telephone{
	        width:180px;
	        height:20px;
	        margin-bottom:15px;
	        border-bottom: 1px solid yellow;
			 font-family: 'Play', sans-serif;
	        background:#003366;
	        border-top:0px;
	        border-left:0px;
	        border-right:0px;
	        color:yellow;
	        background:url("");
	        padding-left:5px;
	        }

	.reserve{
            width:180px;
	        height:20px;
	        margin-bottom:50px;
	        border-bottom: 1px solid yellow;
	        background:#003366;
	        border-top:0px;
	        border-left:0px;
        	border-right:0px;
	        color:yellow;
	        background:url("");
	        padding-left:5px;
			font-family: 'Play', sans-serif;
	        }

	.button{
	        background:yellow;
	        padding-top:3px;
	        padding-bottom:3px;
	        padding-left:10px;
	        padding-right:10px;
	        margin-left:40px;
	        margin-right:40px;
	        font-family: 'Play', sans-serif;
         	}
			

	       a{
	        background:#ffcc33;
	        padding-top:5px;
	        padding-bottom:5px;
	        padding-left:20px;
	        padding-right:20px;
	        text-decoration:none;
	        color:#000;
	        font-size:14px;
	        border:1px solid #ffcc33;
	        border-radius:5px;
	        }
	        a:hover{
	        background:#ff9900;
			 border:2px solid #330000;
	        color:#330000;
	        }

.programmer_img{
	        margin-top: 10px;
            margin-bottom: 5px;
            margin-left: 25px;
            margin-right: 25px;
            width: 125px;
            height: 125px;
            }
			